html, body { font-size: calc(0.5em + 0.5vw);
       height: 100%;
       margin: 0;
 }


main {
  position: absolute;
  color: white;
  z-index: 99;
  width: auto;
  height: auto;
  margin: 0px auto;
  padding: 120px 0px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1, h3, blockquote, p {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

h2{
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: black;
  -webkit-text-stroke: 0.5px #c11;
}

h2:hover{

  font-weight: 1000;
  

}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

#bg{
width: 100%;
height: 100%;
display: block;

}

header {
  background: var(--dark-bg);
  grid-column: 2 / span 5;
  font-size: 2.5rem;
  padding: 2rem;
  width: auto;
  height: auto;
 margin-bottom: var(--spacing);
}

section {
  grid-column: 2 / 8;
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  width: 25em;
  height: auto;
  margin-bottom: var(--spacing);
}

section2 {
  grid-column: 2 / 8;
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  height: auto;
  margin-bottom: var(--spacing);
  margin-left: 100%; 
  margin-right: 100%; 
  width: 25em;
}


blockquote {
  margin: 0;
  padding: 0;
  grid-column: 2 / span 9;
  width: auto;
  height: auto;
  margin-bottom: var(--spacing);
}

blockquote p {
  color: black;
  font-size: 4rem;
  display: inline;
  line-height: 1;
}

.left {
  grid-column: 6 / 12;
}

/*
#forkongithub a {
  background: #fff;
  color: #000;
  text-decoration: none;
  font-family: arial, sans-serif;
  text-align: center;
  font-weight: bold;
  padding: 5px 40px;
  font-size: 1rem;
  line-height: 2rem;
  position: relative;
  transition: 0.5s;
n-left: auto;
    margin-right: auto;
    width: 8em

#forkongithub a:hover {
  background: #c11;
  color: #fff;
}

#forkongithub a::before, #forkongithub a::after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  top: 1px;
  left: 0;
  height: 1px;
  background: #fff;
}

#forkongithub a::after {
  bottom: 1px;
  top: auto;
}
*/

.inputButton1:hover {background-color:transparent} 
.inputButton1 {
  background-color: #ffffff; 
  border: 2px solid;
  color: #2288ee;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 30px;
  float: left;
  cursor: pointer;
  margin: 4px 2px;

}

.inputButton2:hover {opacity: 1.5} 
.inputButton2 {
  background-color: #ffffff; 
  border: none;
  color: #2288ee;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 30px;
  float: left;
  transition: 0.3s;
  cursor: pointer;
  margin: 4px 2px;
  opacity: 0.7;
}




/*@media screen and (min-width:800px) {
@media (max-width: 600px) {*/
  #forkongithub {
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    width: 200px;
    overflow: hidden;
    height: 200px;
    z-index: 9999;
  }
  #forkongithub a {
    background: #fff;
    color: #000;
    width: 200px;
    font-family: arial, sans-serif;
    text-align: center;
    font-weight: bold;
    padding: 5px 40px;
    font-size: 1rem;
    line-height: 2rem;
    transition: 0.5s;
    position: absolute;
    top: 60px;
    right: -60px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
  }


#forkongithub a:hover {
  background: #c11;
  color: #fff;
}

#forkongithub a::after {
  bottom: 1px;
  top: auto;
}


img {
    max-width: 100%;
      height: auto;
    }


nav {
    position: fixed;
    padding: 0px;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    top: 0px;
    flex-wrap: wrap;
}

.nav-ul{
   display: flex;
   align-items: center;
   justify-content: center;
   padding; 0;
   list-style-type: none;

}

.nav-ul li {
  float: left;
}

.nav-ul li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 0.5px 25px;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 100%
}

li a:hover:not(.active) {
  background-color: #c11;
}

.active {
  background-color: 0xffffff;
}


.hamburguer{
    background-color: tranparent;
    border: 0;
    display: none;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

.hamburguer:focus{
    outline: none;

}


textarea {
  width: 100%;
  height: 90px;
  padding: 3px 5px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}


input[type=text], input[type=email] {
  width: 100%;
  padding: 3px 5px;
  margin: 1px 0;
  box-sizing: border-box;
}


@media (max-width: 769px) {
   html, body, canvas, header, main, .bg {
    width: 100%;
    min-height: 100%;
    flex-direction: column;
  }
   .left, .inputButton1, h1, h2, h3, p, blockquote, blockquote p, section {
    width: 100%;
    height: auto; 
    flex-direction: column;

  }
 section2 {
   margin-left: 0%; 
   margin-right: 0%; 
   flex-direction: column; 
   width: 100%;
   height: auto;
  }
  .nav-ul{
     
    display: none;
    width: 100%;
    flex-direction: column;
  }

  .nav-ul.show{
     display: flex;
     background: black;

  }
  .hamburguer{
    top: 20px;
    left: 5px;
    position: fixed;
    display: block;
    background: black;
  }

  .nav-ul li a{
      padding: 10px 2px;
      font-size: 200%;
      
  }

}

